.Subscription-main-container{
    display: flex;
    width: 100%;
    margin-left: 50px;

}
.left-side-container-Subscription{
    display: flex;
    border: 1px solid red;
    height: 240px;
    margin-left: 100px;
}
.sub-flied-side-1{
    width: 40%;
    padding: 0 30px;
}
.sub-flied-side-2{
    width: 40%;
   margin-left: 40px;
   
}