.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.upload-resume-container {
  border: 4px dashed rgb(47, 45, 45);
  margin: 40px auto;
  width: 35%;
  height: 230px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.file-input {
  margin: 15px;
  padding: 10px;
}

.upload-button {
  padding: 10px 20px;
  background-color: #4facfe;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #00f2fe;
}

.status-message {
  font-size: 18px;
  margin-top: 15px;
}

.upload-change-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #ffcc00;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-change-btn:hover {
  background-color: #e6b800;
}

@media (max-width: 768px) {
  .upload-resume-container {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .upload-button, .upload-change-btn {
    width: 100%;
    padding: 15px;
  }
}
